{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
    
</head>
<body>
    <h3>Ingresar Book</h3>
    <div>
        <div class="entry">
            <form id="myForm" method="POST" action="">
                {% csrf_token %}
                
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            Author: 
                            <tr>
                                {{form.name}}
                            </tr>
                        </tr>
                        <hr>
                        {% for book in formset.forms %}
                        <tr>
                            Title
                              {% if book.instance.pk %}{{ book.DELETE }}{% endif %}
                            <div class="xd">
                                {{ book.title }}
                            </div>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{ formset.management_form }}
                
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
    <script src="{% static "jquery-3.3.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery-formset.js" %}"></script>
    <script type="text/javascript">
        $(function() {
            $('.xd').formset({
                prefix: '{{ formset.prefix }}',
                addText: 'add',
                deleteText: 'remove',
            });
        });
    </script>
</body>
</html>